# Part 3

## 1.Data Preparation

### a. Load the dataset and preprocess

In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/Users/suchirnaik/Downloads/winequality-red.csv')

In [2]:
data.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [3]:
data = data['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'].str.split(';', expand=True)

In [4]:
data.head()

     0     1     2    3      4   5   6       7     8     9    10 11
0   7.4   0.7     0  1.9  0.076  11  34  0.9978  3.51  0.56  9.4  5
1   7.8  0.88     0  2.6  0.098  25  67  0.9968   3.2  0.68  9.8  5
2   7.8  0.76  0.04  2.3  0.092  15  54   0.997  3.26  0.65  9.8  5
3  11.2  0.28  0.56  1.9  0.075  17  60   0.998  3.16  0.58  9.8  6
4   7.4   0.7     0  1.9  0.076  11  34  0.9978  3.51  0.56  9.4  5

In [5]:
data.columns = [
    'fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
    'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
    'pH', 'sulphates', 'alcohol', 'quality'
]

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

### b. Standardize the data

In [7]:
from sklearn.preprocessing import StandardScaler
X = data.drop('quality',axis = 1)
y = data['quality']

In [8]:
X.head(1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4

In [9]:
y.head(1)

0    5
Name: quality, dtype: object

In [10]:
scaler = StandardScaler()

In [11]:
X = scaler.fit_transform(X)

### c. Split the data into a training set (80%) and a testing set (20%)

In [12]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size = 0.2, random_state = 9)

## 2. Model design

### d. Design an artificial neural network

In [ ]:
from keras.models import Sequential
from keras.models import Dense